#editorToolbar {
	background: #f2f2f2;
    width: 100%;
    height: 40px;
}

#editorToolbar > div {
	float: left;
	border-right: 1px solid black;
	height: 100%;
	position: relative;
}

.hyperlinks-control, .link-target-control {
	box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.12);
	width: 10%;
}

.hyperlinks-control {
	top: 2px;
}

.hyperlinks-icon {
	background: url(../ikone/toolbar-btn-hyperlink.svg) no-repeat center center;
	width: 36px;
  	height: 30px;
  	position: absolute;
}

.hyperlinks-text, .link-targets-string  {
	font-family: Calibri;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	text-align: left;
	color: #470a68;
	position: absolute;
}

.hyperlinks-text {
	left: 36px;
	top: 5px;
}

.pages-control, .zoom-string, .hyperlinks-string {
	width: 20%;
	height: 12px;
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #555555;
	float: left;
	position: relative;
}

.pages-control > * {
	position: absolute;
}

.pages-string, .zoom-string  {
	top: 12px;
	left: 10px;
}

.pages-values {
	top: 8px;
	float: left;
	position: relative;
}

.pages-input {
	margin-left: 5px;
	width: 36px;
	left: 50px;
	position: absolute;
}

.total-pages {
	left: 95px;
	position: absolute;
	width: 60px;
	font-family: Calibri;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	top: 2px;
}

.page-buttons {
	left: 150px;
	top: 2px;
}

.first-page-button-div, .previous-page-button-div, .next-page-button-div, .last-page-button-div, .zoom-out-button, .zoom-in-button  {
	height: 36px;
	width: 36px;
	float: left;
}

.first-page-button-div {
	background: url(../ikone/btn-first-page.svg) no-repeat center center;
}

.previous-page-button-div {
	background: url(../ikone/btn-previous-page.svg) no-repeat center center;
}

.next-page-button-div {
	background: url(../ikone/btn-next-page.svg) no-repeat center center;
}

.last-page-button-div {
	background: url(../ikone/btn-last-page.svg) no-repeat center center;
}

.page-button-img {
	width: 11.8px;
	height: 16px;
}

.zoom-control {
	width: 20%;
	position: relative;
}

.zoom-dropdown {
	position: absolute;
	left: 60px;
	top: 9px;
}

.zoom-buttons {
	position: absolute;
	left: 125px;
	top: 2px;
}

.zoom-out-button {
	background: url(../ikone/btn-zoom-out.svg) no-repeat center center;
}

.zoom-in-button {
	background: url(../ikone/btn-zoom-in.svg) no-repeat center center;
}

.text-selection-control {
	width: 40%;
	position: relative;
}

.pan-button-control, .select-button-control, .hyperlinks-string {
	position: absolute;
}

.pan-button-control {
	left: 5px;
	top: 2px;
}

.select-button-control {
	left: 100px;
	top: 2px;
}

.select-button-icon {
	background: url(../ikone/toolbar-btn-select-inactive.svg) no-repeat center center;
}

.pan-button-text, .select-button-text {
	position: absolute;
	left: 40px;
	top: 8px;
}

.pan-button-icon {
	background: url(../ikone/toolbar-btn-pan.svg) no-repeat center center;
}

.hyperlinks-string  {
	left: 200px;
	top: 13.5px;
}

.pan-button-icon, .select-button-icon {
	width: 36px;
	height: 36px;
}

.pan-button-text, .select-button-text, .hyperlinks-target-text, .hyperlinks-source-text {
	font-family: Calibri;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #470a68;
}

.hyperlinks-source-control, .hyperlinks-target-control {
	position: absolute;
}

.hyperlinks-source-control {
	left: 300px;
	top: 2px;
}

.hyperlinks-source-icon {
	background: url(../ikone/toolbar-btn-source-hyperlink.svg) no-repeat center center;
}

.hyperlinks-source-icon, .hyperlinks-target-icon {
	width: 36px;
	height: 36px;
}

.hyperlinks-target-control {
	left: 450px;
	top: 2px;
}

.hyperlinks-target-icon {
	background: url(../ikone/toolbar-btn-target-hyperlink.svg) no-repeat center center;
}

.hyperlinks-target-text, .hyperlinks-source-text {
	position: absolute;
	white-space: nowrap;
	left: 40px;
	top: 8px;
}

.link-targets-icon {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 28px;
	height: 28px;
	background: url(../ikone/toolbar-btn-link-target.svg) no-repeat center center;
}

.link-targets-string {
	left: 40px;
	top: 8px;
}





.text-selection-control > ul  {
	padding: 0px;
	margin: 0px;
}

.text-selection-control > ul > li {
	display: inline;
	padding: 0 5px 0 5px;
}